body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f3f4f4ea;
  color: #333;
}

.page-wrapper {
  display: flex;
  min-height: 100vh;
}

.left-panel {
  width: 50%;
  background-color: #40bfff;
  color: white;
  padding: 80px 40px;

}
.emergency-btn {
  display: inline-block;
  margin-top: 40px;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: bold;
  color: red;
  background-color: white;
  border-radius: 25px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.emergency-btn:hover {
  background-color: #ffdddd;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}


.brand-name {
  font-size: 40px;
  margin-bottom: 10px;
}

.tagline {
  font-size: 18px;
  margin-top: 10px;
  line-height: 1.5;
}

.login-container {
  width: 50%;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-text {
  font-size: 24px;
  color: #004f7c;
  margin-bottom: 5px;
}

.login-title {
  font-size: 28px;
  color: #222;
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form label {
  font-weight: bold;
}

.login-form input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.submit-btn { display: inline-block;
  margin-top: 40px;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: bold;
  color:#0280c7;
  background-color: white;
  border-radius: 25px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: 0.3s

}

.submit-btn:hover {
  background-color: #0280c7;
}

.footer {
  margin-top: 30px;
  font-size: 12px;
  color: #777;
  text-align: center;
}
